.App {
  text-align: center;
  padding: 20px;
}

button {
  padding: 10px 20px;
  margin: 20px;
  font-size: 16px;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  padding: 10px;
  font-size: 18px;
}

.user-item {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.tooltip-container {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.tooltip .user-name {
  cursor: pointer;
  text-decoration: underline;
}

.tooltip {
  width: 200px;
  background-color: #f9f9f9;
  color: #000;
  text-align: left;
  border-radius: 6px;
  padding: 10px;
  position: absolute;
  z-index: 1;
  left: 100%; /* Position to the right of the container */
  top: 0; /* Position it below the parent container */
  margin-left: 10px;
  margin-top: 5px; /* Add some space below the parent container */
  border: 1px solid #ddd;
}
